Source: ros-kinetic-loki-robot
Section: misc
Priority: extra
Maintainer: Rohan Agrawal <send2arohan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-loki-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-loki-bringup, ros-kinetic-loki-demos, ros-kinetic-loki-description, ros-kinetic-loki-nav, ros-kinetic-loki-teleop
Description: Metapackage for loki configuration
